@import "tailwindcss";

@theme {
    --color-bg: #eceff4;
    --color-bg-window: #d8dee9;
    --color-bg-header: #4c566a;
    --color-buttons: #5e81ac;

    --color-accent-student: #8fbcbb;
    --color-accent-teacher: #b38ead;

    --color-text-light: #eceff4;
    --color-text-dark: #2e3440;

    --color-bg-warning: #ebcb8b;
    --color-btn-confirm: #a1d078;
    --color-btn-cancel: #bf616a;

    /*Dark Mode*/
    --color-bg-dark: #2e3440;
    --color-bg-window-dark: #4c566a;
    --color-bg-header-dark: #3b4252;
}