@import "tailwindcss";

@theme {
    --color-bg: #ECEFF4;
    --color-bg-window: #D8DEE9;
    --color-bg-header: #4C566A;
    --color-buttons: #5E81AC;

    --color-accent-student: #8FBCBB;
    --color-accent-teacher: #B38EAD;

    --color-text-light: #ECEFF4;
    --color-text-dark: #2E3440;

    --color-bg-warning: #EBCB8B;
    --color-btn-confirm: #A1D078;
    --color-btn-cancel: #BF616A;

    /*Dark Mode*/
    --color-bg-dark: #2E3440;
    --color-bg-window-dark: #4C566A;
    --color-bg-header-dark: #3B4252;
}